.container-img{
	
	padding-top: 15px;
	top:40px;
	min-height: 450px;
	width: 100%;
			
				
}

.main_section{
	display: flex;

}

.maintxt{

			
			width: 50%;
			text-align: center;
			/* top: 600px; */
			/* height: 400px; */
			
		}
.sideimg img{
		
			position: absolute;
			width:50%;
			height: 450px;
		}

.text3{

			
			padding-top: 10%;
			font-family: 'Source Serif 4';
			font-style: normal;
			font-size: 50px;
			font-weight: 400;
			margin-top: 10px;
			/*margin-left: 5px;*/
			color: #85452A;
		}

.paragraph{
	
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
width: 70%;
font-size: 22px;
line-height: 150%;
color: #85452A;
padding-left: 15%;
}